<!DOCTYPE html>
<html lang="en-us" ng-app="app">
<head>
    <title>Sudoku Solver</title>
    <meta charset="UTF-8">
    <meta name="description" content="Sudoku Solver">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/main.css">
    
</head>
<body ng-controller="mainCtrl">
	<h2>{{message}}</h2>
	<table>
		<tr ng-repeat="row in puzzle">
			<td ng-repeat="num in row track by $index" ng-class="{warning: isNum(num) }">
				<input type="text" maxlength="1" ng-model="puzzle[$parent.$index][$index]"> 
			</td>
		</tr>
	</table>
	<button ng-click="solve(puzzle)">Solve!</button>
	<button ng-click="reset(puzzle)">Reset</button>
	<button ng-click="undo()">Undo</button>

    <script src="//code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
    <script src="app.js"></script> 
    <script src="js/mainCtrl.js"></script> 
    <script src="js/mainService.js"></script> 
</body>
</html>